.App {
  text-align: center;
  background-color: #282c34;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.app-nav {
  position: absolute;
  left: 5px;
  top: 5px;
}

.app-nav a {
  padding: 0px 20px 5px 20px;
  background-color:#282c34;
  color:rgb(231, 227, 223);
  line-height:1;
  vertical-align:middle;
  font-size:1.3em;
  margin-right: 1px;
}

.app-nav a:hover {
  color:rgb(10, 9, 10);
}

.home-page {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  width: 90%;
  height: 70%;
  gap: 5%;
  align-items: stretch;
}

.personal-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 244, 87);
  border: 2px solid white;
  border-radius: 0.5%;
}

.profile-pic {
  border: 2px solid white;
  border-radius: 5%;
  margin: 1%;
}

.socials {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.socials img {
    height: 35px;
    width: 35px;
    border: 2px solid white;
}

.bio-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgb(171, 244, 87);
  border: 2px solid white;
  border-radius: 0.5%;
  width: 65%;
}

.bio-container h4 {
  text-align: center;
}

.bio-container p {
  justify-content: center;
  margin: 2% 2% 2% 2%;
}