.App {
  text-align: center;
  color: white;
  background-color:rgb(34, 34, 34);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.app-nav {
  position: center;
}

.app-nav a {
  padding: 0px 20px 5px 20px;
  color:white;
  line-height:1;
  vertical-align:middle;
  font-size:1.3em;
  margin-right: 1px;
}

.app-nav a:hover {
  color:black;
}

.home-page {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  width: auto;
  height: auto;
  gap: 5%;
  align-items: stretch;
  padding: 5%;
}

.personal-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(140, 217, 220, .75);
  border: 2px solid white;
  border-radius: 0.5%;
}

.profile-pic {
  border: 2px solid white;
  border-radius: 5%;
  margin: 1%;
}

.socials {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.socials img {
    height: 35px;
    width: 35px;
    border: 2px solid white;
}

.socials a:hover {
  opacity: 0.5;
}

.bio-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(140, 217, 220, 0.75);
  border: 2px solid white;
  border-radius: 0.5%;
  width: 65%;
}

.bio-container h4 {
  text-align: center;
}

.bio-container p {
  justify-content: center;
  margin: 2% 2% 2% 2%;
}

.projects-container {
  display: grid;
  row-gap: 5%;
  grid-template-columns: repeat(1, auto);
}

.project {
  border: 2px solid white;
  background-color: rgba(140, 217, 220, 0.75);
}

.project h4 {
  text-decoration: underline;
}

.gh-logo {
  height: 35px;
  width: 35px;
  border: 2px solid white;
}

.irs-img {
  height: 400px;
  width: 650px;
  border: 2px solid white;
}

.atomic-img {
  height: 300px;
  width: 300px;
  border: 2px solid white;
}

